<div class="jiveContactPanel">
    <div class="azg" style="padding: 0 0 9px 9px;">
        {{if currentUsers.length > 0}}
            <select class="jiveAnywhereListContacts" style="width: 100%; font-size: 15px;">        
                {{for currentUsers}}
                    <option {{if #parent.parent.data.selectedUserIndex == #index}}selected{{/if}} value="{{>#index}}">{{>name}}</option>
                {{/for}}
            </select>

            <div style="padding-top: 8px;">
                {{if !user.id}}
                    {{if user.emailAddress != "unknown"}}<a href="mailto:{{>user.emailAddress}}" title="{{>user.emailAddress}}" style="display: block; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 205px;">{{>user.emailAddress}}</a>{{else}}(email address unknown){{/if}}
                    <div style="color: #595959;">Contact not found</div>
                {{else}}
                    <div style="padding-top: 4px;">
                        <img src="{{if user.user_profile_image_is_default}}{{>~getInternalResourceUrl(~getDefaultProfileImageUri())}}{{else}}{{>user.profileImageUrl}}{{/if}}" alt="" style="float: left; padding-right: 10px; width: 64px;" />
                        <div style="float: left; width: 133px;">
                            <div style="font-size: 16px;"><a href="{{>user.profile_url}}" target="_blank">{{if user.displayName}}{{>user.displayName}}{{else}}{{>user.userName}}{{/if}}</a></div>
                            <div style="color: #595959;">{{>user.title}}</div>
                            <div>{{>user.department}}</div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div style="padding-top: 7px;">
                        <table style="font-size: 12px;">
                            <tr>
                                <th>Email:</th>
                                <td>{{if user.emailAddress}}<a style="overflow-x: hidden; max-width: 150px; display: block; text-overflow: ellipsis; white-space: nowrap;" href="mailto:{{>user.emailAddress}}" title="{{>user.emailAddress}}">{{>user.emailAddress}}</a>{{else}}(Hidden){{/if}} (found in {{>user.instanceName}})</td>
                            </tr>
                            {{if user.primary_phone_number}}
                                <tr>
                                    <th>Phone:</th>
                                    <td>{{>user.primary_phone_number}}</td>
                                </tr>
                            {{/if}}
                        </table>
                    </div>

                    {{if user.current_user_status_creation_date}}
                        <div style="padding-top: 7px;">
                            {{>user.current_user_status_line}} -
                            <a style="font-size: 11px;" href="{{>user.current_user_status_url}}" target="_blank">{{>~asPrettyDate(user.current_user_status_creation_date)}}</a>
                        </div>            
                    {{/if}}
                {{/if}}
            </div>
        {{else}}
            Loading...
        {{/if}}

        <div class="jiveActions" style="padding-top: 20px;">
            {{if isDiscussion}}
                <a href="#" class="jiveViewAsDiscussionButton toolbarBtn" style="{{if isDiscussionView}}display:none;{{/if}}"><span class="imgButton showAsBtn"></span>View as discussion</a>
                <a href="#" class="jiveViewAsEmailButton toolbarBtn" style="{{if !isDiscussionView}}display:none;{{/if}}"><span class="imgButton showAsBtn"></span>View as email</a>
            {{else}}
                {{if convertedDiscussionInfo.length > 0}}
                    <a href="#" class="jiveShowConvertedDiscussionsPopupButton toolbarBtn"><span class="imgButton openConvertedDiscussionBtn"></span>Show converted discussions ({{>convertedDiscussionInfo.length}})</a>

                    <div class="jiveConvertDiscussionPopup popup">
                        {{for convertedDiscussionInfo.connections}}
                            {{if length > 0}}
                                <a href="#" class="jiveOpenConvertedDiscussionsButton" data-serverurl="{{>serverUrl}}">{{>instanceName}} ({{>length}})</a>
                            {{/if}}
                        {{/for}}
                    </div>
                {{/if}}
                {{if allowConvert}}
                    <a href="#" class="jiveConvertDiscussionButton toolbarBtn"><span class="imgButton convertToDiscussionBtn"></span>Convert to discussion</a>
                {{/if}}
            {{/if}}

            <a href="#" class="jiveScrollTopButton toolbarBtn"><span class="imgButton scrollTopBtn"></span>Scroll the page to the top</a>
        </div>            

        <div style="padding-top: 15px; text-align: right;">
            <img style="width: 90px; height: 19px;" src="{{>~getInternalResourceUrl('/images/powered_by_Jive.png')}}" alt="Powered by Jive" />
        </div>
    </div>
</div>